html,body {
  height: 100%;
  margin: 20px;
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
  text-align: center;
}
a, h1 {
  color: #4183c4;
}
img {
  height: 50%;
  margin-top: 10%;
}
